<div class="home-container">
  <div class="typing-effect">
    <h1 id="line1" class="typing-effect-heading"></h1>
    <h2 id="line2" class="typing-effect-heading"></h2>
  </div>
  <div class="intro-text">
    I am build modern web apps with 
    <a href="https://angular.dev" target="_blank" class="angular-link">
      <img src="assets/home/angular.png" alt="Angular" class="angular-logo" />
      <span class="angular-rest">ngular</span>
    </a>
  
  </div>
  <div class="action-buttons">


    <a href="/assets/resume/ResumeSJ.pdf" 

  class="btn resume-btn">Resume</a>
    <a routerLink="/contact" href="/contact" class="btn contact-btn">Contact</a>
  </div>
  <div class="social-icons">
    <a href="https://github.com/ShivamJ39" target="_blank" title="GitHub">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/shivam-jadhav-41769a283" target="_blank" title="LinkedIn">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a href="https://www.instagram.com/shivamjadhav_33?igsh=c3VteWZnYWR5cm92" target="_blank" title="Instagram">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
  </div>
</div>
